{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<!-- <div class="container">     -->
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Log Masuk</div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >
                  <div class="form-group">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                      {{ form|crispy }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button class="btn btn-success primaryAction" type="submit"> {% trans "Sign In" %}</button>
                      <a class="btn btn-primary secondaryAction" href="{% url 'pentadbiran_home' %}">{% trans "Cancel" %}</a>
                      <a class="button secondaryAction" href="{% url 'pentadbiran_home' %}">{% trans "Forgot Password?" %}</a>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    <!-- </div> -->

{% endblock %}